

<div class="parent">
  <mat-spinner
  matSuffix
  *ngIf="isLoading"
  mode="indeterminate"
  diameter="100"
></mat-spinner>
  <div
    class="container bg-white main"
    [attr.data-iscard-appeared]="isCardAppeared"
  >
    <div class="row">
      <div class="col-sm-12 col-md-6 picture p-5">
        <h1 class="text-center text-md-start title-heading-color">
          Get Well Soon, Register
        </h1>
        <img
          class="img-fluid"
          src="https://img.freepik.com/premium-vector/man-patient-is-being-treated-using-telemedicine-sitting-front-hand-with-thermometer-laptop_198530-6731.jpg?size=626&ext=jpg&ga=GA1.1.1412446893.1704499200&semt=sph"
          alt=""
        />
      </div>
      <div
        class="col-md-6 col-sm-12 form-box d-flex align-items-center justify-content-center"
      >
        <form (submit)="uploadData()">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label fw-bold"
              >Email address <span class="required-symbol">*</span>
            </label>
            <input
              type="email"
              name="email"
              (change)="log()"
              [(ngModel)]="registeringUser.email"
              placeholder="Your Email"
              required
              class="form-control"
              id="email"
              aria-describedby="emailHelp"
            />
            <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label fw-bold"
              >FullName <span class="required-symbol">*</span>
            </label>
            <input
              type="text"
              name="email"
              (change)="log()"
              [(ngModel)]="registeringUser.fullname"
              placeholder="Your Email"
              required
              class="form-control"
              id="email"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label fw-bold"
              >Phone Number <span class="required-symbol">*</span>
            </label>
            <input
              type="tel"
              d="phone"
              name="phone"
              pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
              name="email"
              (change)="log()"
              [(ngModel)]="registeringUser.phone"
              placeholder="Your phone"
              required
              class="form-control"
              id="email"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label fw-bold"
              >Password <span class="required-symbol">*</span></label
            >
            <input
              type="password"
              [(ngModel)]="registeringUser.password"
              required
              class="form-control"
              name="password"
              id="password"
            />
          </div>
          <div class="mb-3">
            <label for="formFile" class="form-label fw-bold"
              >Upload your ID <span class="required-symbol">*</span></label
            >
            <input
              (change)="onIdSelected($event)"
              class="form-control"
              required
              type="file"
              id="formFile"
              accept="imgae/*"
            />
          </div>

          <div class="mb-3">
            <label for="formFileMultiple" class="form-label fw-bold"
              >Choose 3 photos <span class="required-symbol">*</span></label
            >
            <input
              (change)="onMultiplePhotosSelected($event)"
              class="form-control"
              required
              type="file"
              id="formFileMultiple"
              multiple
              accept="image/*"
            />
          </div>
          <a routerLink="/"><p>Already have an account? Sign IN</p></a>
          <div class="text-center text-md-start">
            <button
              type="submit"
              class="btn rounded-pill mt-3 mb-3 custom-button-2"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
